<%- include('header.ejs') -%>
<title>Add Console</title>
</head>

<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Add Console</h1>
    </div>
    <div class="form-container">
        <form action="/consoles" 
            method="post"
            enctype="multipart/form-data">
            <label>Game Name: <input type="text" 
                                    name="consoleName" 
                                    id="consoleName"> </label>
            <br><br>
            <label>Console ID: <input type="number" 
                                    name="consoleId"
                                    step="1" 
                                    id="consoleId"> </label>
            <br><br>
            <label>Edition: <input type="text" 
                                    name="edition" 
                                    id="edition"> </label>
            <br><br>
            <label>Region ID: <input type="number" 
                                    name="region"
                                    step="1" 
                                    id="region"> </label>
            <br><br>
            <label>Release Date: <input type="date" 
                                    name="releaseDate" 
                                    id="releaseDate"> </label>
            <br><br>
            <label>Bought Date:  <input type="date" 
                                    name="boughtDate" 
                                    id="boughtDate"> </label>
            <br><br>
            <label>Developer: <input type="text" 
                                    name="developer" 
                                    id="developer"> </label>
            <br><br>
            <label>Publisher: <input type="text" 
                                    name="publisher" 
                                    id="publisher"> </label>
            <br><br>
            <label>Product Condition ID: <input type="number" 
                                    name="productCondition"
                                    step="1" 
                                    id="productCondition"> </label>
            <br><br>
            <label>Has Box? <input type="checkbox" 
                                    name="hasBox" 
                                    id="hasBox"> </label>
            <br><br>
            <label>Is Duplicate? <input type="checkbox" 
                                    name="isDuplicate" 
                                    id="isDuplicate"> </label>
            <br><br>
            <label>Digital? <input type="checkbox" 
                                    name="digital" 
                                    id="digital"> </label>
            <br><br>
            <label>Has Manual? <input type="checkbox" 
                                    name="hasManual" 
                                    id="hasManual"> </label>
            <br><br>
            <label>Has Game? <input type="checkbox" 
                                    name="hasGame" 
                                    id="hasGame"> </label>
            <br><br>
            <label> Value (USD): <input type="number" 
                                    name="monetaryValue"
                                    step="0.01" 
                                    id="monetaryValue"> </label>
            <br><br>
            <label> Notes: <input type="text" 
                                    name="notes" 
                                    id="notes"> </label>
            <br><br>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="lower-container">

    </div>
</body>
<%- include('footer.ejs') -%>