<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, internal-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Gugi&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title>Bulk Entry</title>
    </head>

    <body id="app">
        <div class="upper-container">
            <h1>Bulk Entry</h1>
            <h3>Upload CSVs To Fill Out DB</h3>
        </div>
        <div class="upload-container">
            <h3>Upload Section</h3> <br>
        <!-- action to the /upload route-->
        <form action="/bulk_entry/consoles" 
              method="post"
              enctype="multipart/form-data">
            File to be uploaded: <input type="file" 
                                        name="uploadFile" 
                                        id=""> 
            <br><br>
            <button type="submit">Upload</button>
        </form>
        <br>
        </div>
        <div class="lower-container">

        </div>
    </body>
</html>