<%- include('header.ejs') -%>
        <title>Game Collections</title>
    </head>
<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Games Collection</h1>
        <h3>Overview Of My Game Collection</h3>
    </div>
    <div class="body-container">
    </div>
    <div class="lower-container">

    </div>
</body>    
<%- include('footer.ejs') -%>