<div class="navbar-container">
    <nav class="navbar navbar-expand-lg bg-info-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/images/bookshelf-storage-svgrepo-com.svg" width="30" height="24" class="d-inline-block align-text-top">
            Collections
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Games Collection Menu
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/addGame">Add Game</a></li>
                    <li><a class="dropdown-item" href="/games">View Games</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/addConsole">Add Console</a></li>
                    <li><a class="dropdown-item" href="/consoles">View Consoles</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/addAccessory">Add Accessory</a></li>
                    <li><a class="dropdown-item" href="/accessories">View Accessories</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Book Collection Menu
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Home</a></li>
                    <li><a class="dropdown-item" href="#">Add Book</a></li>
                    <li><a class="dropdown-item" href="#">View Books</a></li>
                </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</div>